$medium-bp: 1124px;
.c-detail-vehicle-image {
    width: 550px;
    margin: 16px;
    @media screen and (max-width: $medium-bp) {
        img {
            height: 250px;
        }
    }
}
.c-detail-vehicle-pro {
    // width: 300px;
    margin: 16px;
}
.c-detail-vehicle-desc {
    margin: 16px;
}