/* SIDENAV ANIMATION TIME  */
$time-animation: .2s;

// FONT
// $font-stack: Montserrat, Helvetica, sans-serif;
$font-stack: Montserrat;

// SIZES
// $small-bp: 960px;//800Tablet, 768 ipad@1x
$medium-bp: 1124px;//768 standard
// $max-width: 1440px;
// $content-width: 1100px;
