@import "../../stylesheets/cars-web-theme.scss";

.et-loader {
  position: relative;
  font-size: 5px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 29, 55, 0.2);
  border-right: 1.1em solid rgba(0, 29, 55, 0.2);
  border-bottom: 1.1em solid rgba(0, 29, 55, 0.2);
  border-left: 1.1em solid #00315d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

.et-loader--mini {
  font-size: 4px;
  border-top: 0.6em solid $primary-default;
  border-right: 0.6em solid $primary-default;
  border-bottom: 0.6em solid $primary-default;
  border-left: 0.6em solid $primary-200;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-wrapper.list-loading{
  align-items: center;
  display: flex;
  height: 150px;
  text-align: center;
  line-height: 150px;
  overflow: hidden;
  .et-loader{
    margin: auto;
  }
}
