@import "../stylesheets/mixins.scss";

:host(){
  @include flexbox();
  width: 100%;
}

.c-cars-title-home {
  height: 100px;
  margin-top: 54px;
  h1 {
    font-size: 26px;
    margin: 0;
  }
  h3 {
    margin-top: 8px;
    font-size: 16px;
  }
}

.c-filter-home {
  height: 120px;
  .c-filter-content {
    width: 90%;
  }
}
